In [1]:
import pandas as pd

df = pd.read_csv('2016.csv')

df.head()

,RptNo,RptName,StatCourseNo,StatCourseName,DataDate,PlaceNo,PlaceName,PeriodNo,PeriodName,Complex1,...,Complex5,Complex5Name,DeriveNo,DeriveExplain,FValue,SValue,RptDeptNo,RptDeptName,CreateTime,ModifyTime
0,10440-01-01-2,臺中市高級中等學校教育經費概況(預、決算數),1044001a013,高級中等學校教育經費概況(預、決算數)-預算數-經費來源(單位:千元),2016/1/1 上午 12:00:00,10000066000,臺中市,Y,年,230010000101,...,0,NaN,0,NaN,4562270,NaN,387040000E,教育局,2017/3/27 上午 10:04:44,2017/3/29 上午 09:27:30
1,10440-01-01-2,臺中市高級中等學校教育經費概況(預、決算數),1044001a013,高級中等學校教育經費概況(預、決算數)-預算數-經費來源(單位:千元),2016/1/1 上午 12:00:00,10000066000,臺中市,Y,年,230010000102,...,0,NaN,0,NaN,2064504,NaN,387040000E,教育局,2017/3/27 上午 10:04:44,2017/3/29 上午 09:27:30
2,10440-01-01-2,臺中市高級中等學校教育經費概況(預、決算數),1044001a013,高級中等學校教育經費概況(預、決算數)-預算數-經費來源(單位:千元),2016/1/1 上午 12:00:00,10000066000,臺中市,Y,年,2300100002,...,0,NaN,0,NaN,7465198,NaN,387040000E,教育局,2017/3/27 上午 10:04:44,2017/3/29 上午 09:27:30
3,10440-01-01-2,臺中市高級中等學校教育經費概況(預、決算數),1044001a014,高級中等學校教育經費概況(預、決算數)-預算數-經費支出(單位:千元),2016/1/1 上午 12:00:00,10000066000,臺中市,Y,年,230010000101,...,0,NaN,0,NaN,4311429,NaN,387040000E,教育局,2017/3/27 上午 10:04:44,2017/3/29 上午 09:27:30
4,10440-01-01-2,臺中市高級中等學校教育經費概況(預、決算數),1044001a014,高級中等學校教育經費概況(預、決算數)-預算數-經費支出(單位:千元),2016/1/1 上午 12:00:00,10000066000,臺中市,Y,年,230010000102,...,0,NaN,0,NaN,2042831,NaN,387040000E,教育局,2017/3/27 上午 10:04:44,2017/3/29 上午 09:27:30

In [2]:
temp = df[['Complex2Name', 'FValue']]
temp

   Complex2Name   FValue
0           NaN  4562270
1           NaN  2064504
2           NaN  7465198
3          經常支出  4311429
4          經常支出  2042831
5          經常支出  5829966
6          資本支出   449589
7          資本支出    21673
8          資本支出  2273748
9          償還借款        0
10         償還借款        0
11         償還借款   179603
12     經常支出報廢金額        0
13     經常支出報廢金額        0
14     經常支出報廢金額   145803
15     折舊、折耗及攤銷   470995
16          NaN  5040041
17          NaN  2166179
18          NaN  6923462
19         經常支出  4426431
20         經常支出  2129463
21         經常支出  5469085
22         資本支出   379409
23         資本支出    92573
24         資本支出  2148369
25         償還借款        0
26         償還借款        0
27         償還借款   834956
28     經常支出報廢金額        0
29     經常支出報廢金額        0
30     經常支出報廢金額   211607
31     折舊、折耗及攤銷   504544
32     折舊、折耗及攤銷        0
33     折舊、折耗及攤銷        0
34     折舊、折耗及攤銷        0
35     折舊、折耗及攤銷        0

In [3]:
Type = temp.groupby(['Complex2Name'])['FValue'].sum().reset_index()

In [4]:
Type['year'] = 2015
Type

  Complex2Name    FValue  year
0         償還借款   1014559  2015
1     折舊、折耗及攤銷    975539  2015
2         經常支出  24209205  2015
3     經常支出報廢金額    357410  2015
4         資本支出   5365361  2015

In [5]:
df2016 = pd.read_csv('2016.csv')
df2017 = pd.read_csv('2017.csv')
df2018 = pd.read_csv('2018.csv')

In [6]:
new = df2016[['Complex2Name', 'FValue']].groupby(['Complex2Name'])['FValue'].sum().reset_index()

In [7]:
new['year'] = 2016

In [8]:
new

  Complex2Name    FValue  year
0         償還借款   1014559  2016
1     折舊、折耗及攤銷    975539  2016
2         經常支出  24209205  2016
3     經常支出報廢金額    357410  2016
4         資本支出   5365361  2016

In [9]:
frames = [Type, new]

result = pd.concat(frames)

In [10]:
result

  Complex2Name    FValue  year
0         償還借款   1014559  2015
1     折舊、折耗及攤銷    975539  2015
2         經常支出  24209205  2015
3     經常支出報廢金額    357410  2015
4         資本支出   5365361  2015
0         償還借款   1014559  2016
1     折舊、折耗及攤銷    975539  2016
2         經常支出  24209205  2016
3     經常支出報廢金額    357410  2016
4         資本支出   5365361  2016